.cart-flyout {
    height: 100%;
    width: 350px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw 1vw 2vh;
}

.close-flyout {
    align-self: flex-end;
}

.flyout-item img{
    width: 85px;
}