.cart-flyout {
    height: 100%;
    width: 400px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw 2vw 3vh;
}

.close-flyout {
    align-self: flex-end;
}

.flyout-header {
    font-size: 24px;
    font-weight: 500
}

.subhead {
    font-size: 14px;
    font-style: italic;
}
.flyout-item img{
    width: 85px;
}

.flyout-item {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    width: 100%;
    margin-top: 2vh;
    padding-top: 2vh;
    border-top: 1px solid #999999;
}

.flyout-item:first-child {
    border: none;
}

.flyout-item p {
    font-size: 14px;
}

#flyout-checkout {
    margin-top: 5vh;
    width: 300px;
    place-self: center;
    flex-grow: 0;
    height: 5vh;
}