.shopping-cart-page {
    display: flex;
    flex-direction: column;
    padding: 5vh 12vw; 
}

.shopping-cart {
    min-height: 30vh;
}

.empty-cart {
    text-align: center;
    color: #3A422A;
}

.cart-header {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8vh;
    color: #1A200E;
}

.table-header {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 2fr 2fr 2fr 2fr 1fr;
    border-bottom: 0.5px solid #212222;
    margin-bottom: 5vh;
    padding-bottom: 2vh;
}

.table-header h3 {
    font-weight: 500;
    font-size: 13px;
    padding-left: 1.5vw;
}

.cart-item {
    display: grid;
    grid-template-columns: 120px 2fr 2fr 2fr 2fr 1fr;
    width: 100%;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid #ADADAD;
}

.cart-item-img {
    width: 120px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.cart-item p, .remove-item {
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
}

.cart-item-total {
    font-weight: 600;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.cart-item-quantity p {
    padding: 1vw;
}

.quantity-button {
    background-color: #212222;
    color: var(--white-color);
    border-radius: 50px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
}

.quantity-button:hover {
    opacity: .85;
}

.checkout-totals {
    align-self: flex-end;
    width: 28vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

.cart-total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1vw 2vh 1vw;
}

.cart-total-section.border {
    border-bottom: 1px solid #999999;
}

.cart-total-section h4 {
    font-weight: 600;
}

.grand-total {
    font-size: 25px;
}

.checkout-totals .green-button {
    width: 100%;
    height: 6vh;
    align-self: flex-end;
}

.remove-item {
    height: 100%;
}


@media (max-width: 430px) {

    .cart-item-price {
        display: none !important;
    }

    .table-header {
        display: none;
    }

    /* Adjust the grid for small screens */
    .cart-item {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto;
        align-items: center;
        column-gap: 10px;
    }

    .cart-item-img {
        grid-row: 1 / -1; 
        grid-column: 1 / 2;
    }

    .cart-product-name {
        grid-column: 2 / 3; 
        font-size: 14px; 
    }

    .cart-item-total {
        grid-column: 2 / 3; 
    }

    .cart-item-quantity {
        grid-column: 2 / 3;
        grid-row: 3; 
    }

    .remove-item {
        grid-column: 3 / 4;
        grid-row: 3;
    }

    .checkout-totals {
        width: 50vw;
    }

    .cart-header {
        font-size: 25px;
        margin-bottom: 5vh;
    }

}
