footer {
    display: flex;
    justify-content: center;
    color: var(--white-color);
    padding: 4vh 0 3vh 0;
    gap: 5vw;
    background-color: #1A200E;
    position: relative;
    overflow: hidden;
}

footer ul {
    padding: 0;
}

footer li {
    font-size: 10px;
    margin-bottom: 0.8vh;
    font-weight: 300;
    opacity: 0.75;
}

footer h3 {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 8px;
    opacity: 0.75;
}

.leaf-icon {
    position: absolute;
    bottom: -220px;
    right: 10px;
}

@media (max-width: 430px) {

    footer {
       gap: 8vw;
       width: 100vw; 
    }

    footer li {
        font-size: 9px;
    }

    footer h3 {
        font-size: 10px;
    }
}


