:root {
    --white-color: #F5F9E9;
}

/* HERO SECTION */
.hero {
    display: grid;
    grid-template-columns: 4fr auto 2fr;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hero-one {
    background: url(../assets/hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    grid-column: 1 / 2;
    min-width: 50vw;
}

.hero-two {
    background-image: url(../assets/hero-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 3;
    min-width: calc(48vw - 25rem);
}

.hero-cta {
    background-color: #201716;
    grid-column: 3 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    color: var(--white-color);
}

.hero-cta h2 {
    margin-bottom: 2vh;
    width: 12vw;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.hero-cta p {
    line-height: 2;
    opacity: 0.75;
    margin-bottom: 2vh;
}

.hero-cta button {
    background-color: var(--white-color);
    border-radius: 10px;
    color: #212222;
}

/* POPULAR SECTION */
.popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 18vw;
    height: 40vh;
    gap: 7vw;
    color: #3A422A;
}

.popular p {
    font-weight: 500;
    opacity: 0.75;
}

.popular-images {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.popular-1 {
    background-image: url('../assets/popular-1.png');
    width: 290px;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 115%;
    margin-left: -30px;
}

.container-1 {
    background-color: #06271B;
    border-radius: 120px 120px 10px 10px;
    height: 250px;
    width: 220px;
}

.popular-2 {
    background-image: url('../assets/popular-2.png');
    width: 290px;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    margin-top: -55px;
    margin-left: -5px;
}

.container-2 {
    background-color: #C2C1A5;
    border-radius: 120px;
    width: 250px;
    height: 250px;
}

.popular-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.popular-cta button {
    max-width: 275px;
}


/* SIGNUP */
.signup-section {
    height: 18vh;
    background-color: #1A200E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2px solid #859D7D;
}

.signup-section h2 {
    color: var(--white-color);
    margin-bottom: 2vh;
    font-size: 25px;
}

.input-container {
    display: flex;
}

.signup-section input {
    background-color: transparent;
    border: 0.75px solid #859D7D;
    border-radius: 5px 0 0 5px;
    color: var(--white-color);
    height: 5vh;
    width: 400px;
    padding-left: 12px;
    padding-right: -105px;
    font-size: 16px;
}

.signup-section input::placeholder {
    color: #859D7D;
    opacity: 0.75;
}

.signup-section input:focus {
    outline: none;
    border: 1px solid #E7B5AC;
    border-right: none;
}

.signup-section button{
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 0 30px;
    border-radius: 0 5px 5px 0;
    height: 100%;
    color: #3C4D2B;

}

@media (max-width: 430px) {

    .popular {
        padding: 50px 50px;
        height: 100%;
    }

    .container-1{
        height: 180px;
        width: 150px;
    }

    .container-2 {
        height: 180px;
        width: 180px;
    }

    .popular-1, .popular-2 {
        height: 200px;
        width: 200px;
    }

    .popular-1 {
        margin-left: -25px;
    }

    .popular-2 {
        margin-top: -30px;
    }

    .popular-images {
        flex-direction: column-reverse;
        gap: 3vh;
        align-items: center;
        width: 35vw;
    }

    .popular-cta {
        width: 65vw;
    }

    .popular p {
        font-size: 13px;
    }

    .signup-section input {
        width: 200px;
        font-size: 13px;
        opacity: 0.8;
    }

    .signup-section input:focus button{
        width: 20px;
    }

    .signup-section button {
        padding: 0 20px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .hero-one {
        height: 50vh;
    }

    .hero-cta {
        align-items: center;
        padding: 40px 30px;
    }

    .hero-cta h2 {
        width: 100%;
    }

    .hero-cta button {
        align-self: flex-start;
        width: 200px;
    }
}




