:root {
    --white-color: #F5F9E9;
}

/* HERO SECTION */
.hero {
    display: grid;
    grid-template-columns: 4fr auto 2fr;
    height: 87vh;
    margin: 0;
    padding: 0;
}

.hero-one {
    background: url(../assets/hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    grid-column: 1 / 2;
    min-width: 50vw;
}

.hero-two {
    background-image: url(../assets/hero-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 3;
    min-width: calc(48vw - 25rem);
}

.hero-cta {
    background-color: #212222;
    grid-column: 3 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    color: var(--white-color);
}

.hero-cta h2 {
    font-size: 5vh;
    margin-bottom: 2vh;
    width: 12vw;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.hero-cta p {
    line-height: 2;
    font-weight: 400;
    margin-bottom: 2vh;
}

.hero-cta button {
    height: 4vh;
    background-color: var(--white-color);
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: #212222;
}

/* POPULAR SECTION */
.popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 18vw;
    height: 40vh;
    gap: 8vw;
    color: #212222;
}

.popular-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.popular-1 {
    background-image: url('../assets/popular-1.png');
    width: 220px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 100%;

}

.container-1 {
    background-color: #36453B;
    border-radius: 120px 120px 10px 10px;
    height: 250px;
}

.popular-2 {
    background-image: url('../assets/popular-2.png');
    width: 250px;
    height: 225px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 60%;
}

.container-2 {
    background-color: #C2C1A5;
    border-radius: 120px;
    width: 250px;
    height: 250px;
}

.popular-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.popular-cta h2 {
    font-size: 5vh;
}

.popular-cta button{
    max-width: 15vw;
    margin-top: 10px;
    background-color: #E7B5AC;
    border: none;
    height: 4vh;
    border-radius: 10px;
    font-weight: 500;
}


/* SIGNUP */
.signup-section {
    height: 45vh;
    background-color: #212222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18vw;
}

.signup-img {
    height: 42vh;
    width: 28vw;
    align-self: flex-end;
    background-image: url(../assets/hero-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 100%;
    border-radius: 155px 155px 0 0;
}

.signup-section h2 {
    color: var(--white-color);
    font-size: 5vh;
    margin-bottom: 3vh;
}

.signup-section input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    height: 5vh;
    width: 90%;
    padding-left: 5px;
    font-size: 16px;
}