@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 6vw;
}

.navbar li {
    display: inline-block;
    font-size: 14px;
    margin-right: 2.5vw;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #212222;
    text-decoration: none;
}

.navbar h1 {
    color: #36453B;
    margin-left: -5vw;
}

.cart-icon {
    width: 25px;
}



