@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    display: flex;
    align-items: center;
    padding: 2vh 11vw 2vh 11vw;
}

.navbar ul {
    display: inline-block;
}

.navbar li {
    font-size: 14px;
    display: inline;
    padding-right: 3vw;
}

.navbar li:last-child {
    padding-right: 0;
}

.navbar h1 {
    color: #36453B;
    text-align: center;
}

.cart-icon {
    width: 25px;
}

.cart {
    width: 100%;
    display: grid;
    justify-content: flex-end;
}

#cart-badge.active {
    padding: 1px 7px;
    border-radius: 9px;
    font-size: 12px;
    background: #E7B5AC;
    color: #212222;
    font-weight: 500;
    vertical-align: top;
    margin-left: -10px; 
}

#cart-badge {
    display: hidden;
    color: transparent;
}

nav {
    width: 100%;
}

.logo {
    width: 100%;
}





