@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.nav-button-container {
    display: flex;
    width: 7vw;
    justify-content: space-between;
    gap: 8px;
}

button {
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif;
    color: #212222
}

h1 {
    font-family: "DM Serif Text", serif;
    color: #36453B;
}

.cart-icon {
    width: 25px;
}