@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    display: flex;
    align-items: center;
    padding: 1vh 16vw 1vh 16vw;
}

.navbar ul {
    display: inline-block;
}

.navbar li {
    font-size: 13px;
    display: inline;
    margin-right: 2vw;
    position: relative;
}

.navbar li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: #E7B5AC; 
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.navbar li:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.active-link{
    border-bottom: 2px solid #E7B5AC;
    padding-bottom: 3px;
}

.navbar h1 {
    color: #1A3C30;
    text-align: center;
}

.cart-icon {
    width: 25px;
    height: auto;
    vertical-align: middle;
}

.cart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#cart-badge.active {
    padding: 1px 7px;
    border-radius: 9px;
    font-size: 12px;
    background: #E7B5AC;
    color: #212222;
    font-weight: 500;
    vertical-align: top;
    margin-left: -10px; 
}

#cart-badge {
    display: hidden;
    color: transparent;
}

nav {
    width: 100%;
}

.logo {
    width: 100%;
}





