@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 15vw;
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    z-index: 1;
}

.navbar ul {
    display: flex;
    gap: 3vw;
    width: 100%;
}

.navbar li {
    font-size: 13px;
    position: relative;
}

.navbar li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: #E7B5AC; 
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.navbar li:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.active-link{
    border-bottom: 2px solid #E7B5AC;
    padding-bottom: 3px;
}

.cart-icon {
    vertical-align: middle;
}

.cart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#cart-badge.active {
    padding: 1px 7px;
    border-radius: 9px;
    font-size: 12px;
    background: #E7B5AC;
    color: #212222;
    font-weight: 500;
    vertical-align: top;
    margin-left: -10px; 
}

#cart-badge {
    display: hidden;
    color: transparent;
}

.logo {
    width: 100%;
    color: #3C4D2B;
    text-align: center;
    font-size: 16px;
}

.menu {
    display: none;
}

@media (max-width: 910px) {

    .navbar {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 20px 60px;
    }

    .menu {
        display: flex;
        align-items: center;
        grid-column: 1 / 2;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        align-self: end;
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        margin-top: 40px;
        width: 100%;
    }

    .navbar ul.open {
        display: flex;
    }

    .cart {
        justify-content: center;
        grid-column: 3 / -1;
        justify-content: flex-end;
    }

    .logo {
        grid-column: 2 / 3;
    }


}

@media (max-width: 375px) {
    .navbar {
        padding: 20px 10px;
    }

    .logo {
        font-size: 13px;
    }

    .menu img{
        width: 25px;
    }

    .cart img {
        width: 20px;
    }

    .navbar li {
        font-size: 12px;
    }

    .navbar ul {
        margin-top: 20px;
    }

    #cart-badge.active {
        padding: 1px 5px;
        border-radius: 9px;
        font-size: 9px;
        background: #E7B5AC;
        color: #212222;
        font-weight: 500;
        vertical-align: top;
        margin-left: -10px; 
    }
}









