.back-button {
    margin-left: 15vw;
    font-size: 16px;
    color: #3A422A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

.product-page {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 18vw;
    margin-right: 18vw;
}

.product-page img {
    height: 70vh;
    border-radius: 5px;
}

.product-information {
    margin-top: 5vh;
    color: #3A422A;
}

.product-information .description {
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.product-information button {
    width: 11vw;
}

@media (max-width: 430px) {
    .product-page {
        flex-direction: column;
        margin: 20px 20px;
    }

    .product-page img {
        height: 45vh;
    }

    .product-information {
        margin-top: 10px;
    }

    .product-information h2 {
        font-size: 35px;
    }

    .product-information p {
        font-size: 15px;
    }

    .product-information button {
        width: 100%;
    }

    .product-information .price {
        font-size: 20px;
    }
}



