.shop {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.product-card {
    border-radius: 5px;
    width: 300px;
    margin: auto;
}

.product-details {
    color: #212222;
    padding: 1.5vh 0 0 0.5vw;
    font-size: 14px;
}

.product-details h4 {
    font-weight: 400;
}

.card-container {
    display: grid;
    grid-column: 2 / -1;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 40vh;
    row-gap: 5vh;
    column-gap: 10px;
    margin-bottom: 40px;
    margin-top: 2vh;
    margin-right: 10vw;
    justify-content: center;
}

.shop-nav {
    margin-left: 6vw;
    margin-right: 3vw;
    padding-top: 6vh;
    width: 200px;
    height: 100vh;
}

.shop-nav li {
    margin-bottom: 0.8vh;
}

.shop-nav button {
    color: #444444
}

button.active {
    font-weight: 600;
    color: #212222
}